@font-face {
    font-family: Proxima Nova Rg; 
    src: url("fonts/Proxima Nova Regular.otf"); 
   }
   @font-face {
    font-family: Uni Sans Thin CAPS; 
    src: url("fonts/UniSansThinCAPS.otf"); 
   }
   body {
       font-family: Proxima Nova Rg;
       padding-top: 50px;
       font-size: 14pt;
   }
#logo {
       font-family: Uni Sans Thin CAPS;
       font-size: 24pt;
   }
.col1 {
    margin-left: 19%;
}
.col2 {
    margin-right: 12%;
}
@media (max-width: 480px) {
  .vs-xs {
    display: block;
  }
  .vs-xxs {
      display: none;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
    .vs-sm {
        display: none;
    }
    .col-md-8 {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .vs-md {
        display: none;
    }
    .col-md-8 {
        width: 81.5%;
    }
    .col-md-2 {
        width: 18.5%;
    }
}
@media (min-width: 1025px) {
    .vs-lg {
        display: none;
    }
    .col-md-8 {
    width: 63%;
    }
    .col-md-2 {
        width: 18.5%;
        display: block;
    }
}
.fa-bars {
    color: #398439;
}