@font-face {
    font-family: Proxima Nova Rg; 
    src: url("../fonts/Proxima Nova Light.otf"); 
   }
   @font-face {
    font-family: UniSansThinCaps; 
    src: url("../fonts/UniSansThinCAPS.otf"); 
   }
   body {
       font-family: Proxima Nova Lt;
       padding-top: 75px;
       font-size: 14pt;
   }
.logo {
       font-family: UniSansThinCaps;
       font-size: 24pt;
   }
.col1 {
    margin-left: 12%;
}
.col2 {
    margin-right: 12%;
}
@media (max-width: 480px) {
  .vs-xs {
    display: block;
  }
  .vs-xxs {
      display: none;
  }
}
@media (min-width: 481px) {
    .sm {
        display: none;
    }
    .bn {
        width: 184px;
    }
}
/*
@media (min-width: 481px) and (max-width: 991px) {
    .vs-sm {
        display: none;
    }
    .col-md-8 {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .vs-md {
        display: none;
    }
    .col-md-8 {
        width: 81.5%;
    }
    .col-md-2 {
        width: 18.5%;
    }
}
@media (min-width: 1025px) {
    .vs-lg {
        display: none;
    }
    .col-md-8 {
    width: 63%;
    }
    .col-md-2 {
        width: 18.5%;
        display: block;
    }
}
*/
.fa-bars {
    color: #398439;
}
.mar {

    padding: 0;
}
.banner_left {
     padding-left: 0;
}
.banner_right {
    padding-right: 0;
}
.navbar-nav > li > .dropdown-menu {
    border-top:none;
    background-color:white;
} 
.dropdown-menu {
    display:block !important;
    visibility:hidden;
    opacity:0;
    transition:visibility .3s,opacity .3s,top .4s;
    top:200%;
}
.open > .dropdown-menu {
    visibility:visible;
    opacity:1;
    transition:visibility .3s,opacity .3s,top .4s;
    top:calc(100% + 1px);
}
  .dropdown-menu {transition:none;} 